body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
  background: black;
}

.list-movies-title {
  padding: 10px 0;
  background: orange;
  color: white;
  text-align: center;
  font-size: 60pt;
  border: 5px solid white;
  border-radius: 5px;
}

.list-movies-title h1 {
  font-family: Courier New;
  font-weight: bold;
  color: white;
  text-shadow:
    -1px -1px 0 #888,
    1px -1px 0 #888,
    -1px 1px 0 #888,
    1px 1px 0 #888;
  font-size: 75pt;
  margin: 0;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-grid li {
  padding: 10px 15px;
  text-align: left;
}

.movie {
  width: 150px;
  height: 380px;
  padding: 10px;
  border-radius: 8px;
  background-color: #333;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.movie-title,
.movie-year {
  margin: 5px 0;
  text-align: center;
}

.movie-rating {
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    font-size: 0.8em;
    margin-top: 12px;
}

.movie-rating svg {
    margin-right: 5px;
}

.movie-title {
  color: white;
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  max-height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-top: 8px;
}

.movie-year {
  color: #999;
  font-size: 0.9em;
  margin-top: 5px;
  text-align: center;
}

.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 145px;
    height: 215px;
    border: 5px solid orange;
    border-radius: 5px;
}

.movie-note {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
    max-width: 200px;
    font-size: 0.7em;
    top: 0%;
}

.movie:hover .movie-note {
    display: block;
}

.movie:hover .movie-note:empty {
    display: none;
}

.movie {
    position: relative;
}

.flags {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
  flex-wrap: wrap;
  max-width: 100%;
}

.flags .flag {
  width: 24px;
  height: auto;
  border-radius: 3px;
}